

.block1-card {
    width: 33%;
    min-width: 400px;
    list-style: none;
    max-height: 300px;

    border: 5px solid #ffffff;
    border-radius: 10px;
    background-color: #003f77;

    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    transition: all 0.25s;
}

.card-main {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.card-main.active {
    opacity: 0;
}


.block1-card__title {
    color: #f3df71;
    font-size: 24px;
    font-weight: bold;
    max-width: 75%;
    margin-bottom: 20px;
    transition: all 0.25s;
}

.block1-card__image {
    height: 100px;
    margin: 20px 0;
    transition: all 0.25s;
}

.block1-card__descriptions {
    position: absolute;
    max-width: 350px;
    color: #ffffff;
    opacity: 0;
    transition: all 0.25s;
    font-size: 18px;
    padding: 50px 0;
}
.block1-card__descriptions.active {
    opacity: 1;
}

.block1-card__description {
    padding: 20px 0;
}

.block1-card:hover {
    background-color: #045dac;
}


.more-btn {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0;
    z-index: 9;
    color: #fff;
    background-color: #0d66b4;
    padding: 10px 15px;
    border-radius: 3px;
    
    display: none;

    transition: 0.3s;
}
.more-btn:hover {
    background-color: #2a85d4;
}