* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: Arial, sans-serif;
}

.uk-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
}

.offer-button {
    padding: 50px 0;
}
.offer-button::after {
    content: 'Оставить заявку';
    background-color: #3457a2;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.offer-button:hover::after {
    background-color: #5274be;
}

.header-contacts {
    display: flex;
}
.header-contacts img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
}

.block-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #003f77;
    font-weight: 1000;
    margin: 30px 0;
}