* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: Arial, sans-serif;
}

.uk-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
}
