.block1 {
}

.block1-content {
    display: flex;
    flex-wrap: wrap;
}

.block-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #003f77;
    font-weight: 1000;
    margin: 30px 0;
}

.block-title::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -.1em;
    vertical-align: middle;
    height: calc(20px + .7em);
    margin-right: calc(5px + .2em);
    border-left: calc(5px + .1em) solid #003f77;
}