

.block1-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.block-title::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -.1em;
    vertical-align: middle;
    height: calc(20px + .7em);
    margin-right: calc(5px + .2em);
    border-left: calc(5px + .1em) solid #003f77;
}