
.header {
    background-color: #fff;
    width: 100%;
}

.header-upper {
    background-color: #3457a2;
}

.header-upper__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}


.header-menu__btn {
    display: none;
}
.header-menu__btn-line {
    list-style: none;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 7px 15px;
}

.header-menu__item {
    display: inline-flex;
    padding-right: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.header-menu__item:hover {
    opacity: 0.7;
    cursor: pointer;
}



.header-menu__list-slide {
    position: absolute;
    background-color: #3457a2;
    display: none;
    transition: all 1s;
    width: 100%;
    z-index: 10;
}
.header-menu__list-slide.active {
    display: block;
}

.header-menu__list-slide div {
    display: flex;
    flex-direction: column;
}

.header-menu__item.slide {
    padding: 5px 15px;
}









.hb__logo img {
    width: 100px;
    border-radius: 10px;
}

.header-bottom__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hb__first-column {
    display: flex;
    align-items: center;
}

.hb__slogan {
    max-width: 250px;
    text-align: left;
    margin-left: 15px;
    font-size: 18px;
    opacity: 0.8;
    line-height: 1.5;
}

.hb__second-column  {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hb__second-column p:hover {
    opacity: 0.5;
    cursor: pointer;
}