.offer-content {
    text-align: right;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0), 
            rgba(255, 255, 255, 1)
        ), 
        url('../../../assets/pictures/fixing-printer.png');
    border-radius: 10px;
}
.offer-image {
    width: 100%;
    height: 300px;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
        url('../../../assets/pictures/fixing-printer.png');
    display: none;
}

.offer-slogan {
    font-size: 24px;
    color: red;
    font-weight: 700;
    padding-top: 20px;
}

.offer-description {
    display: block;
    padding-top: 20px;
}

.offer-desc__item {
    display: flex;
    justify-content: flex-end;
    font-size: 48px;
    font-weight: 1000;
    gap: 20px;
}
.offer-desc__item span {
    color: #0075ff;
}

.offer-expirience {
    display: inline-flex;
    padding-top: 20px;
}
.offer-expirience span {
    font-size: 60px;
    color: red;
}

.offer-exp__text p {
    font-size: 18px;
}

